.container {
  margin: 40px;
} 

img {
  width: 60%;
  height: auto;
}

.header{
  text-align: center;
}

table {
  width: 100%;
}

.btn-group{
  display: flex;
  justify-content: center;
}

td {
  text-align: center;
}

.td-image{
  max-width: 50px;
}
